In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('life_expectancy.csv')
print(data)

          Country  Year      Status  Life expectancy   Adult Mortality  \
0     Afghanistan  2015  Developing              65.0            263.0
1     Afghanistan  2014  Developing              59.9            271.0
2     Afghanistan  2013  Developing              59.9            268.0
3     Afghanistan  2012  Developing              59.5            272.0
4     Afghanistan  2011  Developing              59.2            275.0
...           ...   ...         ...               ...              ...
2933     Zimbabwe  2004  Developing              44.3            723.0
2934     Zimbabwe  2003  Developing              44.5            715.0
2935     Zimbabwe  2002  Developing              44.8             73.0
2936     Zimbabwe  2001  Developing              45.3            686.0
2937     Zimbabwe  2000  Developing              46.0            665.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
0                62     0.01               71.279624         65.0      1154
1                64     0.01               73.523582         62.0       492
2                66     0.01               73.219243         64.0       430
3                69     0.01               78.184215         67.0      2787
4                71     0.01                7.097109         68.0      3013
...             ...      ...                     ...          ...       ...
2933             27     4.36                0.000000         68.0        31
2934             26     4.06                0.000000          7.0       998
2935             25     4.43                0.000000         73.0       304
2936             25     1.72                0.000000         76.0       529
2937             24     1.68                0.000000         79.0      1483

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  \
0     ...    6.0               8.16         65.0        0.1  584.259210
1     ...   58.0               8.18         62.0        0.1  612.696514
2     ...   62.0               8.13         64.0        0.1  631.744976
3     ...   67.0               8.52         67.0        0.1  669.959000
4     ...   68.0               7.87         68.0        0.1   63.537231
...   ...    ...                ...          ...        ...         ...
2933  ...   67.0               7.13         65.0       33.6  454.366654
2934  ...    7.0               6.52         68.0       36.7  453.351155
2935  ...   73.0               6.53         71.0       39.8   57.348340
2936  ...   76.0               6.16         75.0       42.1  548.587312
2937  ...   78.0               7.10         78.0       43.5  547.358878

      Population   thinness  1-19 years   thinness 5-9 years  \
0     33736494.0                   17.2                 17.3
1       327582.0                   17.5                 17.5
2     31731688.0                   17.7                 17.7
3      3696958.0                   17.9                 18.0
4      2978599.0                   18.2                 18.2
...          ...                    ...                  ...
2933  12777511.0                    9.4                  9.4
2934  12633897.0                    9.8                  9.9
2935    125525.0                    1.2                  1.3
2936  12366165.0                    1.6                  1.7
2937  12222251.0                   11.0                 11.2

      Income composition of resources  Schooling
0                               0.479       10.1
1                               0.476       10.0
2                               0.470        9.9
3                               0.463        9.8
4                               0.454        9.5
...                               ...        ...
2933                            0.407        9.2
2934                            0.418        9.5
2935                            0.427       10.0
2936                            0.427        9.8
2937                            0.434        9.8

[2938 rows x 22 columns]

In [5]:
data['GDP']

0       584.259210
1       612.696514
2       631.744976
3       669.959000
4        63.537231
           ...
2933    454.366654
2934    453.351155
2935     57.348340
2936    548.587312
2937    547.358878
Name: GDP, Length: 2938, dtype: float64

In [8]:
data['Scaled GDP'] = data['GDP'] ** 2
print(data['Scaled GDP'])

0       341358.824470
1       375397.018268
2       399101.714701
3       448845.061681
4         4036.979723
            ...
2933    206449.056267
2934    205527.269921
2935      3288.832101
2936    300948.038887
2937    299601.741873
Name: Scaled GDP, Length: 2938, dtype: float64

In [12]:
data['Scaled GDP'] = data['GDP'] * 2
print(data['Scaled GDP'])

0       292.129605
1       306.348257
2       315.872488
3       334.979500
4        31.768615
           ...
2933    227.183327
2934    226.675578
2935     28.674170
2936    274.293656
2937    273.679439
Name: Scaled GDP, Length: 2938, dtype: float64